<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin">Algum texto aqui</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imageContainer">
    <p class="ion-margin" id="textImg">texto de alguma coisa ais</p>
  </div>
  <div class="chronometer ion-margin">
    <p>conteudo do cronometro aí</p>
  </div>
  <div class="buttons ion-margin">
    <ion-buttons slot="secondary">
      <ion-button color="primary">Iniciar Treino</ion-button>
      <ion-button color="danger">Finalizar Treino</ion-button>
    </ion-buttons>
  </div>
  <div class="statistics ion-margin">
    <span>estatisticas do treino</span>
  </div>
</ion-content>
