<ion-content [fullscreen]="true">
  <div id="imageContainer">
    <p id="title" class="ion-text-center">Algum texto aqui</p>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>
  <div id="bodyPage">
    <div class="sb">
      <ion-searchbar animated placeholder="Pesquisar"></ion-searchbar>
    </div>
    <div class="content">
      <div class="card ion-margin-bottom">
        <p>teste</p>
      </div>
      <div class="card ion-margin-bottom"></div>
      <div class="card ion-margin-bottom"></div>
      <div class="card ion-margin-bottom"></div>
      <div class="card ion-margin-bottom"></div>
      <div class="card ion-margin-bottom"></div>
    </div>
  </div>
</ion-content>
