<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-margin">estatísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imageContainer">
    <p class="ion-margin" id="textImg">texto de alguma coisa ai</p>
  </div>
  <div class="textContainer">
    <div class="textContent">
      <p>Total de Treinos:</p>
      <p id="value"> 50 </p>
    </div>
    <div class="textContent">
      <p>Finge que tem uma medalha aqui</p>
    </div>
  </div>
  <div class="textContainer">
    <div class="textContent">
      <p>Maior Tempo Consecutivo:</p>
      <p id="value"> Valor aqui </p>
    </div>
    <div class="textContent">
      <p>Finge que tem uma medalha aqui</p>
    </div>
  </div>
  <div class="textContainer">
    <div class="textContent">
      <p>Menor tempo de treino</p>
      <p id="value"> Valor aqui </p>
    </div>
    <div class="textContent">
      <p>Finge que tem uma medalha aqui</p>
    </div>
  </div>
</ion-content>
